@page "/"
@inject IGuestData GuestData


@if(data is not null)
{
    <ul>
        @foreach(var item in data)
        {
            <li>@item.TIPO_DO_MOVEL</li>
            <li>@item.ID</li>
            <li>@item.ENDERECO</li>
            <li>@item.ESTADO</li>
            <li>@item.ESTADO</li>

        }
    </ul>
}


@code {
    private List<GuestModel> data;

    protected override async Task OnInitializedAsync()
    {
        data = await GuestData.GetGuests();
    }
}
